.iphone-14-pro-2 {
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 65, 108) 0%, rgb(74, 0, 224) 100%);
  background-color: rgba(255,255,255,1.0);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 852px;
  padding: 55px 13px;
  width: 393px;
}

.flex-row-3 {
  align-items: center;
  align-self: flex-start;
  display: flex;
  gap: 21px;
  min-width: 299px;
}

.vector-4 {
  cursor: pointer;
  height: 70px;
  width: 48px;
}

.lets-create-your-album {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 8.0px;
  min-height: 34px;
  width: 230px;
}

.overlap-group-2 {
  height: 35px;
  margin-top: 46px;
  position: relative;
  width: 327px;
}

.album-name {
  background-color: transparent;
  border: 0;
  height: 34px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  padding: 0;
  position: absolute;
  top: 0;
  width: 327px;
}

.album-name::placeholder {
  color: #ffffff4c;
}

.line-1-1 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 327px;
}

.vector-5 {
  height: 152px;
  margin-left: 1.0px;
  margin-top: 128px;
  width: 154px;
}

.button-orange-3 {
  align-items: center;
  border: 4px solid;
  border-color: var(--white);
  border-radius: 100px;
  box-shadow: 0px 4px 10px #dadada;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 70px;
  justify-content: center;
  margin-left: 1.0px;
  margin-top: 199px;
  padding: 8px 24px;
  position: relative;
  width: 272px;
}

.title-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -5.50px;
  position: relative;
  width: fit-content;
}

